.Post {
    background-color: #F3F3F3;
    border: 1px solid #EBE8E8;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #D54343 !important;
  }
  
  .Heart:hover {
    color: #D54343;
  }
  
  .HeartOutline:hover {
    color: #D54343;
  }